---
import type { Album } from "../types"
import { generateSpotifyEmbed } from "../utils/helpers"
import { sanityImageUrl } from "../utils/sanity"

interface Props {
  album: Album
}

const { album } = Astro.props
const embedUrl = generateSpotifyEmbed(album.spotifyLink)
const builder = sanityImageUrl(album.cover)
---

<div class="" id={album.title}>
  <a href={album.spotifyLink} target="_blank" rel="noopener noreferrer">
    <img
      src={builder.auto("format").width(450).url()}
      loading="lazy"
      width="450px"
      height="450px"
      class="mx-auto"
      alt={`${album.title} Cover`}
    />
  </a>

  <iframe
    src={embedUrl}
    title={`${album.title} Spotify Preview`}
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    class="mx-auto pt-4"></iframe>
</div>
