---
import type { Show } from "../types";
import { dateFormatter, generateSanityURL } from "../utils/helpers";

// @ts-ignore
const id = import.meta.env.SANITY_PROJECT_ID ?? Deno?.env?.get("SANITY_PROJECT_ID")
const url = generateSanityURL(id, "production", "shows");

const result = await fetch(url)
  .then((res) => res.json())
  .catch((e) => console.error(e));

const shows = result.result as Show[];
---

<h3 class="tracking-wider text-3xl pb-6">Upcoming Shows</h3>
<ul
  class="mx-auto tracking-wider w-fit flex flex-col gap-2 text-left pl-2 opacity-0 transition duration-500 ease-in"
  id="showList"
>
  {
    shows?.map((show) => {
      return (
        <li>
          <em>
            <strong>
              {show.venueName.toUpperCase()}
              {show.city && show.state
                ? `- ${show.city.toUpperCase()}, ${show.state.toUpperCase()}`
                : ""}
            </strong>
            {show.subtitle?.toUpperCase() ?? ""}{" "}
            {show.description ? `// ${show.description.toUpperCase()}` : ""}
            {show.date ? `// ${dateFormatter(show.date)}` : ""}
          </em>
        </li>
      );
    })
  }
</ul>
<script>
  function fadeInShows() {
    const isAtBottom = () => {
      return window.innerHeight + window.scrollY >= document.body.offsetHeight;
    };

    const handleScroll = (shows: HTMLElement) => {
      const rect = shows.getBoundingClientRect();
      const top = Number(rect.top);

      if (window.scrollY > top || isAtBottom()) {
        shows.classList.add("opacity-100");
        shows.classList.remove("-translate-x-6");
      } else {
        shows.classList.remove("opacity-100");
        shows.classList.add("-translate-x-6");
      }
    };

    const shows = document.getElementById("showList");
    if (!shows) return;

    handleScroll(shows);
    document.addEventListener("scroll", () => handleScroll(shows));
  }

  fadeInShows();
</script>
